@use '../../Theme' as t;

.top-nav-container {
  //background: t.$gold4;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 3;
  //opacity:80%;

  .nav-logo {
    color: t.$gold1;
    font-size: 20px;
  }

  nav {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    margin-right: 4vw;

    a {
      padding: 1vh 1vw;
      color: t.$dark-white-primary;
      font-size: 22px;
      text-decoration: none;

      transition: transform 250ms;

      &:hover {
        color: t.$dark-gold-primary;
        transform: translateY(-5px);
      }

      &.active {
        color: t.$dark-gold-primary;
      }

      //i {
      //  transition: all 0.3s ease-out;
      //}
      //
      //&:hover {
      //  color: t.$gold1;
      //
      //  &:after {
      //    opacity: 1;
      //  }
      //}
      //
      //&:after {
      //  content: '';
      //  font-size: 9px;
      //  letter-spacing: 2px;
      //  position: absolute;
      //  bottom: 0;
      //  display: block;
      //  width: 100%;
      //  text-align: center;
      //  opacity: 0;
      //  -webkit-transition: all 0.3s ease-out;
      //  transition: all 0.3s ease-out;
      //}

      //&:first-child {
      //  &:after {
      //    content: 'HOME';
      //  }
      //}

      .nav-item-small {
        display: none;
      }

      @media (max-width: 500px) {
        .nav-item-small {
          display: block;
        }
        .nav-item-big {
          display: none;
        }
      }
    }


  }

  //ul {
  //  position: absolute;
  //  bottom: 20px;
  //  width: 100%;
  //  display: block;
  //  padding: 0;
  //  list-style: none;
  //  text-align: center;
  //  margin: 0;
  //
  //  li {
  //    a {
  //      padding: 7px 0;
  //      display: block;
  //      font-size: 15px;
  //      line-height: 16px;
  //      color: #4d4d4e;
  //
  //      &:hover {
  //        color: t.$black1;
  //      }
  //    }
  //  }
  //}
}
