$black1: #121212;
$black2: #181818;
$black3: #404040;
$black4: #d0d0d0;
$black5: #ffffff;

$gold1: #FFD700;
$gold2: #ffdf33;
$gold3: #ffe766;
$gold4: #FFBE00;
$gold5: #FFEA00;

//Dark Theme
$dark-body-primary: #000000;
$dark-body-secondary: #404040;
$dark-gold-primary: #FFD700;
$dark-secondary-primary: #E63547;
$dark-secondary-secondary: #06B3B3;
$dark-white-primary: #ffffff;

//Light Theme
$light-body-primary: #ffffff;
$light-body-secondary: #404040;
$light-gold-primary: #FFD700;
$light-secondary-primary: #F55969;
$light-secondary-secondary: #3ED6D6;
$light-black-primary: #000000;
